# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Builds
dist/
build/
.vercel/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.tox/
.venv/
venv/
ENV/
env/
